.sw-cms-preview-alphatrail-faq{display:flex;align-items:center;justify-content:center;min-height:100px;background-color:#d1e85f}.sw-cms-preview-alphatrail-faq h2{color:#000}
.sw-cms-el-alphatrail-faq{position:relative;width:100%;height:150px;display:flex;align-items:center;justify-content:center;background-color:#d1e85f;color:#000;font-size:1.4rem}

.sw-cms-el-preview-alphatrail-faq{display:flex;align-items:center;justify-content:center}
