.sw-cms-el-alphatrail-faq {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1e85f;
  color: #000;
  font-size: 1.4rem;
}